<div class="nav">
    <div class="nav_left">
        <a class="logo"></a>
    </div>
    <div class="nav_right">
        <button class="log_in"></button>
        <button class="sign_up"></button>
    </div>
</div>