<div class="nav">
    <div>
        <img class="navlogo" src="https://drive.google.com/uc?export=download&id=1J8dk_FaIy3r1wiPmgL_rCYkajRK58kJt">
    </div>
    <div class="navlogin">
        <a href="./fumblr/dashboard" class="button" id="log_in">Log In</a>
        <a href="./fumblr/dashboard" class="button" id="sign_up">Sign Up</a>
    </div>
</div>