<div class="nav">
    <div>
        <img class="navlogo" src="https://i.imgur.com/fgtFlwX.png">
    </div>
    <div class="navlogin">
        <a href="./fumblr/dashboard" class="button" id="log_in">Log In</a>
        <a href="./fumblr/dashboard" class="button" id="sign_up">Sign Up</a>
    </div>
</div>