<div class="nav">
    <div>
        <a class="logo"></a>
        <a class="search"></a>
    </div>
    <div class="button-bar">
        <a class="home"></a>
        <a class="explore"></a>
        <a class="inbox"></a>
        <a class="notifications"></a>
        <a class="account"></a>
        <a class="create_post"></a>
    </div>
</div>