<div class="nav">
    <div class="nav_left">
        <a class="logo"></a>
        <a class="search"></a>
    </div>
    <div class="nav_right">
        <a href="views/dashboard.ejs" class="home"></a>
        <a href="views/explore.ejs"class="explore"></a>
        <a href="views/messages.ejs" class="inbox"></a>
        <a href="views/notifications.ejs" class="notifications"></a>
        <a href="views/account.ejs" class="account"></a>
        <a href="views/create.ejs" class="create"></a>
    </div>
</div>