<div class="nav">
    <div class="navleft">
        <a href="/fumblr/dashboard">
            <img class="navlogodash" src="https://drive.google.com/uc?export=download&id=1J8dk_FaIy3r1wiPmgL_rCYkajRK58kJt"></a>
        <input class="input" id="search" type="text" placeholder="Where would you like to go?">
    </div>
    <div class="button-bar">
        <a href="/fumblr/dashboard">
        <img class="icon" id="home" src="https://drive.google.com/uc?export=download&id=16woVA_zwr27ghVFcP0CwgihYBRN1I47S"></a>
        <a href="/fumblr/dashboard">
        <img class="icon" id="explore" src="https://drive.google.com/uc?export=download&id=1p4tMRbX6WSbejVTpcVNgKgxyV8xx158J"></a>
        <a href="/fumblr/dashboard">
        <img class="icon" id="messages" src="https://drive.google.com/uc?export=download&id=1r7rfKG2_PehmcXgxOKFZh-w9ryso0HfA"></a>
        <a href="/fumblr/dashboard">
        <img class="icon" id="notifications" src="https://drive.google.com/uc?export=download&id=1rH-bl88sV5ET7iPbvyFb2b9Byyrc1mFD"></a>
        <a href="/user/:userId/edit">
        <img class="icon" id="account" src="https://drive.google.com/uc?export=download&id=1A5W_32_4tRg-kVbf9LyK6VGwUxxPXLhs"></a>
        <a href="/user/logout">
        <img class="icon" id="logout" src="https://drive.google.com/uc?export=download&id=1aDKni2rZAulfYWmJCzECxyrZrfXMeQ82">
        </a>
    </div>
</div>