<div class=nav>
    <div class=logo></div>
    <div class=search></div>
    <div class=empty_space_lol></div>
    <div class=home></div>
    <div class=explore></div>
    <div class=inbox></div>
    <div class=chats></div>
    <div class=notifications></div>
    <div class=account></div>
    <div class=create_post></div>
</div>