<div class="nav" id="restricted">
    <div class="navleft">
        <a href="/dashboard">
            <img class="navlogodash" src="https://drive.google.com/uc?export=download&id=1J8dk_FaIy3r1wiPmgL_rCYkajRK58kJt"></a>
        <input class="input" id="search" type="text" placeholder="Where would you like to go?">
    </div>
    <div class="navlogin">
        <a href="/user/login" class="button" id="log_in">Log In</a>
        <a href="/user/register" class="button" id="sign_up">Sign Up</a>
    </div>
</div>