<div class="nav">
    <div class="navleft">
        <a href="./dashboard">
            <img class="navlogo" src="https://drive.google.com/uc?export=download&id=1guWeWrwR0QeM-AhSjOALwEBIvmwmq_eC"></a>
        <input class="input" id="search" type="text" placeholder="Where would you like to go?">
    </div>
    <div class="navlogin">
        <a href="./fumblr/dashboard" class="button" id="log_in">Log In</a>
        <a href="./fumblr/dashboard" class="button" id="sign_up">Sign Up</a>
    </div>
</div>