<%- include('./partials/head.ejs') %>
<div class="splashcontain" id="registerlogo">
    <img class="big-boy-logo" src="https://drive.google.com/uc?export=download&id=1J8dk_FaIy3r1wiPmgL_rCYkajRK58kJt">
</div>
<section class="registercontain">
    <form class="registerform" action="./register" method="POST">
        <h1 class="registertitle">Create an Account</h1>
        <div class="registersectiontwo">
            <div class="regsec">
                <h3 class="registertext" id="regnametitle">First Name:</h3>
                <input name="firstName" class="input" id="regname" type="text" placeholder="example: Johnny"/>
            </div>
            <div class="regsec">
                <h3 class="registertext" id="regnametitle">Last Name:</h3>
                <input name="lastName" class="input" id="regname" type="text" placeholder="example: Appleseed"/>
            </div>
        </div>
        <div class="registersection">
            <div class="regsec" id="age">
                <h3 class="registertext">Age:</h3>
                <input name="age" class="input" id="reginputsmaller" type="number" placeholder=""/>
            </div>
            <div class="regsec" id="gender">
                <h3 class="registertext">Username:</h3>
                <input name="userName" class="input" id="reginputsmall" type="text" placeholder="example: Tacocat5"/>
            </div>
            <div class="regsec" id="pic">
                <h3 class="registertext">Profile Picture:</h3>
                <input name="photo" class="input" id="reginputpic" type="url" placeholder="example: hostingwebsite.com/yourimage"/>
            </div>
        </div>
        <div class="registersectiontwo">
            <div class="regsec">
                <h3 class="registertext">Email:</h3>
                <input name="email" class="input" type="text" placeholder="example: example@domain.com"/>  
            </div>    
            <div class="regsec">
                <h3 class="registertext">Password:</h3>
                <input name="password" class="input" type="password" placeholder="**********"/>
            </div>
        </div>
        <div class="donotdisplay">
            <h3 class="donotdisplay">Session:</h3>
            <input name="currentSession" class="donotdisplay" type="text"/>
        </div>
        <div class="registersectiontwo">
            <a class="button" id="backbutton" href="/fumblr">Go Back</a>
            <button class="button" id="regbutton"> Welcome to fumblr! </button>    
        </div>    
    </form>
</section>
<%- include('./partials/footer.ejs') %>