<%- include('./partials/head.ejs') %>
<div class="splashcontain" id="registerlogo">
    <img class="big-boy-logo" src="https://drive.google.com/uc?export=download&id=1J8dk_FaIy3r1wiPmgL_rCYkajRK58kJt">
</div>
<section class="registercontain">
    <form class="registerform" action="./blog-creation" method="POST">
        <h1 class="registertitle">Create a Blog</h1>
            <div class="regsec">
                <h3 class="registertext">Blog Name:</h3>
                <input name="title" class="titleinput" id="regname" type="text" placeholder="example: mynewblog"/>
            </div>
            <div class="regsec">
                <h3 class="registertext">Blog Description:</h3>
                <input name="description" class="titleinput" id="regname" type="text" placeholder="example: my photography blog"/>
            </div>
            <div class="regsec">
                <h3 class="registertext">Blog Image (what will appear beside your content):</h3>
                <input name="blogImg" class="titleinput" id="reginputpic" type="url" placeholder="example: hostingwebsite.com/yourimage"/>
            </div>
            <div class="regsec">
                <h3 class="registertext">Keywords (related to content you will be posting):</h3>
                <input name="keywords" class="titleinput" type="text" placeholder="example: photography, gaming, retro"/>  
            </div>    
            <input name="user" class="donotdisplay" type="text" value="<%= currentUser[0]._id %>"/>
            <input name="userName" class="donotdisplay" type="text" value="<%= currentUser[0].userName %>"/>
        <div class="regsec">
            <a class="button" id="backbutton" href="/" style="margin: 0;">Nevermind...</a>
            <button class="button" id="regbutton" style="margin: 0;">Create your fumblr!</button>    
        </div>    
    </form>
</section>
<%- include('./partials/footer.ejs') %>