<%- include('./partials/head.ejs') %>

<form action="/users" method="POST">
    <fieldset>
        <h3>Create an Account:</h3>
        <p>First Name:</p><input class="input" type="text" name="firstName">
        <p>Last Name:</p><input class="input" type="text" name="lastName">
        <p>Email Address:</p><input class="input" type="text" placeholder="Please enter your Email Address for verification." name="email">
        <p>Password: </p><input class="input" type="text" name="password">
        <p>Confirm Password: </p><input class="input" type="text" name="password">
        <p>Age: </p><input class="input" type="number" name="age">
        <p>Gender (optional): </p><input class="input" type="text" name="gender"><hr>
        <button>Join fumblr!</button>
    </fieldset>
</form>

<%- include('./partials/footer.ejs') %>