<%- include('./partials/head.ejs') %>
<%- include('./partials/restrictednav.ejs') %>

<div class="landing">
    <div class="splash">
        <div class="splashcontain">
            <img class="big-boy-logo" src="https://drive.google.com/uc?export=download&id=1uURwosqSueV7LvxTznxvej_SvN6fEc99">
            <div class="call-to-action">Thanks for choosing fumblr over tumblr. You won't regret it.</div>
            <hr class="title">
            <div class="login">
                <a href="/user/login" class="button" id="log_in">Log In</a>
                <a href="/user/register" class="button" id="sign_up">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>

