<%- include('./partials/head.ejs') %>
<%- include('./partials/landing_nav.ejs') %>

<div class="splash">
    <div class="big-boy-logo"></div>
    <div class="call-to-action"></div>
    <hr>
    <div class="login">
        <button class="log_in"></button>
        <button class="sign_up"></button>
    </div>
</div>

<%- include('./partials/footer.ejs') %>

