<%- include('./partials/head.ejs') %>
<%- include('./partials/landing_nav.ejs') %>

<div class="landing">
    <div class="splash">
        <img class="big-boy-logo" src="https://i.imgur.com/fgtFlwX.png">
        <div class="call-to-action">Thanks for choosing fumblr over tumblr. You won't regret it.</div>
        <hr>
        <div class="login">
            <a href="./dashboard.ejs" class="button" id="log_in">Log In</a>
            <a href="./dashboard.ejs" class="button" id="sign_up">Sign Up</a>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>

