<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<section>
    <div>
        <h1 class="title">Login</h1>
        <form action="/login">
            
        </form>
    </div>
</section>

<%- include('./partials/footer.ejs') %>