<%- include('./partials/head.ejs') %>
<div class="splashcontain" id="registerlogo">
    <img class="big-boy-logo" src="https://drive.google.com/uc?export=download&id=1J8dk_FaIy3r1wiPmgL_rCYkajRK58kJt">
</div>
<section class="registercontain">
    <form class="registerform" action="./register" method="POST">
        <h1 class="registertitle">Create an Account</h1>
        <div class="registerform">
            <div class="regsec">
                <h3 class="registertext">First Name:</h3>
                <input name="firstName" class="reginput" type="text" placeholder="example: Johnny"/>
            </div>
            <div class="regsec">
                <h3 class="registertext">Last Name:</h3>
                <input name="lastName" class="reginput" type="text" placeholder="example: Appleseed"/>
            </div>
            <div class="regsec">
                <h3 class="registertext">Age:</h3>
                <input name="age" class="reginput" type="number" placeholder=""/>
            </div>
            <div class="regsec">
                <h3 class="registertext">Username:</h3>
                <input name="userName" class="reginput" type="text" placeholder="example: Tacocat5"/>
            </div>
            <div class="regsec">
                <h3 class="registertext">Profile Picture:</h3>
                <input name="photo" class="reginput" type="url" placeholder="example: hostingwebsite.com/yourimage.png"/>
            </div>
            <div class="regsec">
                <h3 class="registertext">Email:</h3>
                <input name="email" class="reginput" type="text" placeholder="example: example@domain.com"/>  
            </div>    
            <div class="regsec">
                <h3 class="registertext">Password:</h3>
                <input name="password" class="reginput" type="password" placeholder="**********"/>
            </div>
        </div>
        <input name="currentSession" class="donotdisplay" type="text"/>
        <div class="regsec">
            <a class="button registerbutton" id="backbutton" href="/">Go Back</a>
            <button class="button registerbutton" id="regbutton"> Welcome to fumblr! </button>    
        </div>    
    </form>
</section>
<%- include('./partials/footer.ejs') %>