<%- include('../partials/head.ejs') %>
    <%- include('../partials/nav.ejs') %>

        <section>
            <h1>Create new image</h1>
        </section>
        <form action="/fumblr/content" method="POST">
            <div>
                <label>Title</label>
            </div>
            <input class="input" type="text" placeholder="Title" name="title" />
            <div>
                <label>Image</label>
            </div>
            <input class="input" type="text" placeholder="your image link" name="photo" />
            <div>
                <label>Description</label>
            </div>
            <input class="input" type="text" placeholder="your description" name="text" />
            <div>
                <button class="button" id="submit">Submit</button>
                <a href="/fumblr/dashboard" class="button" id="cancel">Cancel</a>
            </div>
        </form>

        <%- include('../partials/footer.ejs') %>