<%- include('../partials/head.ejs') %>
    <%- include('../partials/nav.ejs') %>

        <section>
            <h1>Create new text</h1>
        </section>
        <form action="/content" method="POST">
            <div>
                <label>Title</label>
            </div>
            <input class="input" type="text" placeholder="Title" name="title" />
            <div>
                <label>Body</label>
            </div>
            <input class="input" type="text" placeholder="your content" name="text" />
            <div>
                <button class="button" id="submit">Submit</button>
                <button href="/fumblr/dashboard" class="button" id="cancel">Cancel</button>
            </div>
        </form>

        <%- include('../partials/footer.ejs') %>