<%- include('../partials/head.ejs') %>
    <%- include('../partials/nav.ejs') %>

        <section>
            <h1>Create new audio</h1>
        </section>
        <form action="/content" method="POST">
            <div>
                <label>Title</label>
            </div>
            <input class="input" type="text" placeholder="Title" name="title" />
            <div>
                <label>Audio</label>
            </div>
            <input class="input" type="text" placeholder="your audio" name="audio" />
            <div>
                <button class="button" id="submit">Submit</button>
                <a href="/fumblr/dashboard" class="button" id="cancel">Cancel</a>
            </div>
        </form>

        <%- include('../partials/footer.ejs') %>