body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    background-color: #132638;
}
h2 {
    color: rgb(237, 237, 237);
    font-weight: 600;
    margin: 0;
}
h3 {
    color: rgb(237, 237, 237);
    font-size: large;
}
h4 {
    color: rgb(237, 237, 237);
}
h5 {
    color: rgb(237, 237, 237);
}
h6 {
    color: #132638;
}
hr {
    color: rgb(237, 237, 237);
    filter: drop-shadow(0rem 0rem 0.5rem rgba(126, 126, 126, 0.5));
}
a {
    text-decoration: none;
}
hr.title {
    width: 55%;
    margin: 20px;
}
.nav {
    width: 100%;
    height: 8vh;
    padding: 1% 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
#restricted {
    box-shadow: 0px 5px 5px rgb(34, 34, 34);
}
.navlogo {
    height: 47px;
    margin: 5px 10px 3px;
    position: relative;
    filter: invert(16%) sepia(30%) saturate(2095%) hue-rotate(178deg) brightness(96%) contrast(81%);
}
.navlogodash {
    height: 47px;
    margin: 5px 10px 3px;
    position: relative;
    filter: invert(16%) sepia(30%) saturate(2095%) hue-rotate(178deg) brightness(96%) contrast(81%);
}
.navleft {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.button-bar {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}
.input {
    width: 350px;
    padding: 6px 10px;
    font-size: large;
    border: none;
    border-radius: 6px;
    background-color: rgb(194, 194, 194);
}
::placeholder {
    font-size: large;
    color: rgb(97, 97, 97);
}
.icon {
    width: 36px;
    height: 36px;
    filter: invert(69%) sepia(37%) saturate(321%) hue-rotate(168deg) brightness(97%) contrast(89%);
}
.icon#home {
    width: 30px;
    height: 30px;
}
.icon#messages {
    width: 33px;
    height: 33px;
}
.icon:hover {
    filter: invert(90%);
}
.big-boy-logo {
    height: 150px;
    width: 450px;
    padding: 35px;
    filter: drop-shadow(0rem 0rem 0.5rem rgba(126, 126, 126, 0.5));
}
.navlogin {
    margin-right: 2%;
}
.button {
    border: none;
    border-radius: 3px;
    margin: 7px 5px;
    color: rgb(237, 237, 237);
    font-size: larger;
    padding: 10px 10px;
    height: 25px;
    width: 100px;
}
.login {
    width: 700px;
    display: flex;
    justify-content: space-between;
}
#log_in {
    background-color: #138511;
    text-align: center;
}
#sign_up {
    background-color: #3A91E4;
    text-align: center;
}
#kitten {
    background-color: #c6519f;
    text-align: center;
}
.threebuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.landing {
    height: 92vh;
    width: 100%;
    background-image: url("https://picsum.photos/1600/900");
    display: flex;
    justify-content: center;
}
.splash {
    width: 100%;
    background-color: rgb(34, 34, 34);
    opacity: 85%;
}
.splashcontain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.call-to-action {
    color: rgb(237, 237, 237);
    font-size: x-large;
    text-align: center;
    overflow-wrap: break-word; 
    padding: 5px;
}
.contain {
    min-height: 500px;
    height: fit-content;
    width: 96%;
    margin: 0% 2% 2%;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #0D1C2B;
    padding: 0px 0px 30px;
}
.feed {
    width: 65%;
}
.sidebar {
    width: 30%;
    margin: 40px 40px 40px 20px;
}
.sidebartitle {
    color: rgb(194, 194, 194)
}
.content-creation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5% 5% -4%;
}
.userphoto {
    width: 12%;
}
.feedphoto {
    width: 100%;
    border: none;
    border-radius: 8px;
}
.waytoomanyoptions {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    background-color: #0E1821;
    border: none;
    border-radius: 8px;
}
.createpost {
    padding: 10px 5px 5px;
    border: none;
    border-radius: 10px;
    filter: invert(90%);
}
#newtextpost {
    width: 70px;
}
#newimagepost {
    width: 70px;
}
#newquotepost {
    width: 70px;
}
#newlinkpost {
    width: 70px;
}
#newchatpost {
    width: 70px;
}
#newaudiopost {
    width: 70px;
}
#newvideopost {
    width: 70px;
}
#newtextpost:hover {
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(26%) sepia(0%) saturate(0%) hue-rotate(332deg) brightness(96%) contrast(92%) invert(100%);
}
#newimagepost:hover {
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(42%) sepia(71%) saturate(914%) hue-rotate(332deg) brightness(92%) contrast(84%) invert(100%);
}
#newquotepost:hover {
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(66%) sepia(95%) saturate(1714%) hue-rotate(341deg) brightness(104%) contrast(90%) invert(100%);
}
#newlinkpost:hover {
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(62%) sepia(12%) saturate(1528%) hue-rotate(98deg) brightness(103%) contrast(88%) invert(100%);
}
#newchatpost:hover {
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(61%) sepia(75%) saturate(342%) hue-rotate(164deg) brightness(81%) contrast(95%) invert(100%);
}
#newaudiopost:hover {
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(49%) sepia(80%) saturate(241%) hue-rotate(233deg) brightness(96%) contrast(87%) invert(100%);
}
#newvideopost:hover {
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(53%) sepia(24%) saturate(200%) hue-rotate(163deg) brightness(88%) contrast(83%) invert(100%);
}
.fourohfour {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#notfound {
    margin: 45px;
}
.containcreate {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
}
.labels {
    width: 100%;
    height: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 8px;
    position: relative;
    bottom: 45px;
    margin-top: 10px;
    filter: invert(100%)
}
#labelspacer {
    width: 70px;
}
.blogposts {
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 0%;
}
.blogpostcontain {
    width: 85%;
    min-height: 120px;
    height: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 214, 214);
    border: none;
    border-radius: 8px;
}
.textpostitem {
    margin: 10px;
    color: rgb(34, 34, 34);
}
#newpostpage {
    width: 75%;
    height: 40%;
    display: flex;
    align-items: left;
    margin: 3% 12.5%;
}
.posttypetitle {
    text-align: center;
}
.postform {
    margin-left: 2%;
    padding: 0px;
}
.posttext {
    color:rgb(34, 34, 34)
}
.postlink {
    min-height: 400px;
    color: rgb(34, 34, 34);
}
.bubble {
    background-color: #132638;
}
h3.postchat {
    color: rgb(214, 214, 214);
    font-size: large;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}
.postaudio {
    background-color: rgb(194, 194, 194);
    padding: 10px;
    width: auto;
}
.postimage {
    color: rgb(34, 34, 34);
}
.postvideo {
    color: rgb(34, 34, 34);
}
#submit {
    height: 40px;
    width: 80px;
    background-color: #138511;
    margin: 20px 20px 20px 0px;
}
#cancel {
    height: 40px;
    width: 80px;
    background-color: #851111;
    margin: 20px 20px 20px 0px;
}
.titleinput {
    height: 20px;
    width: 40%;
    font-size: large;
    padding: 10px;
}
.textinput {
    font-size: medium;
    height: 50px;
    padding: 10px;
    inline-size: 95%;
    overflow-wrap: normal;
}
.titleinput::placeholder {
    color: rgb(109, 109, 109);
    font-size: large;
}
.textinput::placeholder {
    color: rgb(109, 109, 109);
    font-size: large;
}
#smallmargin {
    margin: 10px 0px;
}
.notes {
    display: flex;
    justify-content: flex-start;
}
#notes {
    font-size: large;
    color: rgb(237, 237, 237);
    height: 15%;
    padding: 5px 2px;
    font-weight: 500;
}
.actionbar {
    width: 100%;
    background-color: #0E1821;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
}
.actionbaritems {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    margin: 8.5px 10px;
}
.actionbaritem {
    width: 30px;
    margin: 0px 10px;
}
.postquote {
    padding: 10px;
    margin: 0;
    background-color: rgb(194, 194, 194);
    color: rgb(34, 34, 34);
}
.postauthor {
    padding: 10px;
    margin: 0;
    color: rgb(34, 34, 34);
    background-color: rgb(194, 194, 194);
    font-style: italic;
    text-align: right;
}
.quotecontain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form.trash {
    height: inherit;
    filter: invert(100%);
}
.postdelete {
    width: 35px;
    border: none;
}
#love:hover {
    cursor: pointer;
}
#reblog:hover {
    cursor: pointer;
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(62%) sepia(12%) saturate(1528%) hue-rotate(98deg) brightness(103%) contrast(88%);
}
#edit:hover {
    cursor: pointer;
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(66%) sepia(95%) saturate(1714%) hue-rotate(341deg) brightness(104%) contrast(90%);
}
.trash:hover {
    cursor: pointer;
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(53%) sepia(24%) saturate(200%) hue-rotate(163deg) brightness(88%) contrast(83%);
}
.logincontain {
    background-color: rgb(237, 237, 237);
    border: none;
    border-radius: 15px;
    height: 37vh;
    padding: 2%;
    margin: 1.5% 30%;
}
.registercontain {
    background-color: rgb(237, 237, 237);
    border: none;
    border-radius: 15px;
    height: 40vh;
    padding: 2%;
    margin: 1.5% 10%;
}
.registerform {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.registersection {
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.registersectiontwo {
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.regsec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.registertitle {
    width: 100%;
    font-size: x-large;
    text-align: center;
    color: rgb(34, 34, 34);
    margin: 0px 0px 10px;
}
.registertext {
    font-size: large;
    color: rgb(34, 34, 34);
    padding: 0px;
    margin: 2.5px 5px 2.5px 0px;
}
.reginput {
    height: 100%;
    border: none;
    border-radius: 3px;
    font-size: medium;
}
#reginputsmall {
    width: 50%;
    font-size: large;
}
#reginputsmaller {
    width: 35%;
    font-size: large;
}
#reginputpic {
    width: 70%;
    font-size: large;
}
.reginput::placeholder {
    font-size: medium;
    margin: 0px 0px 0px 5px;
}
.reginputsmall::placeholder {
    font-size: medium;
    margin: 0px 0px 0px 5px;
}
.reginputpic::placeholder {
    font-size: medium;
    margin: 0px 0px 0px 5px;
}
#regbutton {
    background-color: #138511;
    text-align: center;
    height: 45px;
    width: 200px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}
.regsec#age {
    justify-content: flex-start;
    width: 20%;
}
.regsec#gender {
    width: 37%;
}
.regsec#pic {
    justify-content: flex-start;
    width: 60%;
}
#loginlogo {
    margin-top: 20px;
}
#registerlogo {
    margin-top: 20px;
    height: 150px;
}
.logindivider {
    height: 25%;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#backbutton {
    background-color: #851111;
    text-align: center;
    height: 25px;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
}
#nogosignup {
    text-align: center;
    color: rgb(194, 194, 194);
    padding: 5px;
}
.waitidonthaveanaccount {
    display: flex;
    justify-content: center;
}
.originallypostedby {
    font-size: small;
}
.origin {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    background-color: rgb(214, 214, 214);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#reblogorigin {
    height: 70%;
    margin: 0px 5px;
    filter: invert(30%);
}
.donotdisplay {
    display: none;
}
.agentlenudgeupandright {
    margin: 0% 0% 0% 2%;
}
.notfoundbutton {
    border: none;
    border-radius: 3px;
    margin: 7px 5px;
    color: rgb(237, 237, 237);
    font-size: larger;
    padding: 10px 10px;
    height: 25px;
    width: 175px;
}
.postdivider {
    color:rgb(34, 34, 34);
    margin: inherit;
}
.suggestedblog {
    height: 100px;
    display: flex;
    justify-content: flex-start;
}
.suggestedblogcontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 0px 10px;
    color: rgb(109, 109, 109)
}
.suggestedblogname {
    margin: 0%;
}
.suggestedblogdesc {
    margin: 3px 0px 3px;
}
.suggestedblogphoto {
    width: 80px;
    border: none;
    border-radius: 15px;
}
.hidden {
    display: none;
}
.invert {
    filter: invert(100%);
}