body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #132638;
}
h1, h2, h3, h4, h5 {
    color: rgb(237, 237, 237);
    background: none;
    margin: 0
}
h6 {
    color: #132638;
}
a {
    text-decoration: none;
}
img {
    height: inherit;
    width: inherit;
}
.landing {
    height: 88vh;
    background-image: url("https://picsum.photos/1600/900");
    display: flex;
    justify-content: center;
}
.splash {
    width: 100vw;
    background-color: rgb(34, 34, 34);
    opacity: 85%;
}
.splashcontain, .fourohfour, .quotecontain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.splashcontain {
    margin-top: 5vh;
}
.call-to-action {
    font-size: 4.5vmin;
    text-align: center;
    overflow-wrap: break-word;
}
.title {
    width: 65vw;
    margin: 1% 0% 2%;
}
.nav {
    width: 100vw;
    height: 8vh;
    padding: 2vh 0;
}
#restricted {
    box-shadow: 0 1vh 1vh rgb(34, 34, 34);
}
.navlogo {
    height: 9vh;
    filter: invert(15%) sepia(30%) saturate(2000%) hue-rotate(180deg) contrast(80%);
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
a.button {
    height: 25px;
}
.button-bar {
    width: 34.5vw;
    margin-right: 2%;
}
.nav, .button-bar, .actionbar, .registersectiontwo, .logindivider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlogin, .actionbaritems {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navlogin {
    width: 39.5vw;
    height: 5vh;
    margin-right: 2vw;
}
.navleft {
    width: 60.5vw;
    margin-left: 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.searchbar, .postaudio, .postquote, .postauthor {
    background-color: rgb(194, 194, 194);
}
.searchbar, .button, .feedphoto, .waytoomanyoptions, .containcreate, .createpost, .labels, .blogpostcontain, .logincontain, .registercontain, .suggestedblogphoto {
    border: none;
    border-radius: 1vh;
}
.contain {
    border: none;
    border-radius: 2vh;
}
.icon {
    width: 100%;
    height: 5vh;
    filter: invert(85%) sepia(30%) saturate(2000%) hue-rotate(180deg) contrast(80%);
}
.icon:hover {
    filter: invert(90%);
}
.searchbar {
    width: 100%;
    height: 4vh;
    margin: 0 2%;
    padding: 1% 2%;
    font-size: 3vh;
}
::placeholder {
    color: rgb(97, 97, 97);
}
.landing-logo {
    height: 25%;
    width: 35%;
    padding: 3%;
    filter: drop-shadow(0rem 0rem 0.5rem rgba(126, 126, 126));
}
.button {
    height: 5vh;
    font-size: 3vh;
    padding: 1vh 1.5vw;
    cursor: pointer;
    background: none;
    color: rgb(237, 237, 237);
    margin: 2%;
}
.login {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
#log_in, #submit {
    background-color: #138511;
    text-align: center;
    margin-left: 0;
}
#sign_up {
    background-color: #3A91E4;
    text-align: center;
}
#kitten {
    background-color: #c6519f;
    text-align: center;
}
#cancel {
    background-color: #851111;
}
.fourohfour {
    margin: 5%;
    height: 65vh;
}
.notfound {
    margin: 10vh;
}
.threebuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.postbuttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 2vh 1vw 1vh 0;
}
.contain {
    width: 96%;
    height: fit-content;
    min-height: 80vh;
    margin: 0 2% 2%;
    display: flex;
    justify-content: space-between;
    background-color: #0D1C2B;
    padding: 0 0 10vh;
}
.feed {
    width: 65%;
}
.sidebar {
    width: 35%;
    margin: 5vh 5vh 0 0;
}
.sidebartitle {
    margin: 1vh 0 2vh;
}
.content-creation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5vh 5vh 3vh;
}
.userphoto {
    width: 12.5%;
}
.feedphoto {
    width: 7vw;
    height: 7vw;
}
.waytoomanyoptions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.createpost {
    filter: invert(90%);
    width: 5vw;
}
.column {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.newtextpost:hover {
    filter: invert(26%) sepia(0%) saturate(0%) hue-rotate(332deg) brightness(96%) contrast(92%) invert(100%);
}
.newimagepost:hover {
    filter: invert(42%) sepia(71%) saturate(914%) hue-rotate(332deg) brightness(92%) contrast(84%) invert(100%);
}
.newquotepost:hover {
    filter: invert(66%) sepia(95%) saturate(1714%) hue-rotate(341deg) brightness(104%) contrast(90%) invert(100%);
}
.newlinkpost:hover {
    filter: invert(62%) sepia(12%) saturate(1528%) hue-rotate(98deg) brightness(103%) contrast(88%) invert(100%);
}
.newchatpost:hover {
    filter: invert(61%) sepia(75%) saturate(342%) hue-rotate(164deg) brightness(81%) contrast(95%) invert(100%);
}
.newaudiopost:hover {
    filter: invert(49%) sepia(80%) saturate(241%) hue-rotate(233deg) brightness(96%) contrast(87%) invert(100%);
}
.newvideopost:hover {
    filter: invert(53%) sepia(24%) saturate(200%) hue-rotate(163deg) brightness(88%) contrast(83%) invert(100%);
}
.containcreate {
    height: fit-content;
    width: 87.5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 3vh 0;
    margin: 0 0 2vh 3vh;
    background-color: #0E1821;
}
.labels {
    width: 100%;
    height: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    filter: invert(100%)
}
.postdivider {
    color:rgb(34, 34, 34);
    margin: 0;
}
.blogposts {
    display: flex;
    justify-content: space-between;
    margin: 3vh 5vh 1vh;
}
.blogpostcontain {
    width: 87.5%;
    height: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 214, 214);
    margin: 0 0 3vh 3vh;
}
.textpostitem {
    margin: 10px;
    color: rgb(34, 34, 34);
}
#newpostpage {
    width: 50%;
    display: flex;
    align-items: left;
    margin: 2% 25%;
}
.posttypetitle {
    text-align: center;
    color: #0D1C2B;
    margin: 20px;
}
.postform {
    margin-left: 2%;
    padding: 0px;
}
.posttext {
    color:rgb(34, 34, 34);
    margin: 10px 0px;
}
.postlink {
    min-height: 400px;
    color: rgb(34, 34, 34);
}
.bubble {
    background-color: #132638;
}
h3.postchat {
    color: rgb(214, 214, 214);
    font-size: large;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}
.postaudio {
    padding: 10px;
    width: auto;
}
.postimage {
    width: 100%
}
.postvideo {
    color: rgb(34, 34, 34);
}
.logininput {
    height: 15px;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    padding: 2%;
}
.reginput {
    height: 10px;
    width: 75%;
    border-radius: 3px;
    border-width: 10px;
    padding: .25% .5%;
}
.titleinput {
    height: 20px;
    padding: 5px;
    inline-size: 48%;
    overflow-wrap: normal;
    border: none;
    border-radius: 8px;
}
.textinput {
    height: 60px;
    padding: 5px;
    inline-size: 96%;
    text-overflow: ellipsis;
    border: none;
    border-radius: 8px;
    text-align: start;
}
.titleinput::placeholder {
    color: rgb(109, 109, 109);
}
.textinput::placeholder {
    color: rgb(109, 109, 109);
}
#smallmargin {
    margin: 10px 0px;
}
.notes {
    display: flex;
    justify-content: flex-start;
}
#notes {
    font-size: large;
    color: rgb(237, 237, 237);
    height: 15%;
    padding: 5px 2px;
    font-weight: 500;
}
.actionbar {
    width: 100%;
    background-color: #0E1821;
    border: none;
    border-bottom-left-radius: .9vh;
    border-bottom-right-radius: .9vh;
    margin: 0%;
}
.actionbaritems {
    width: 250px;
    margin: 8.5px 10px;
}
.actionbaritem {
    width: 30px;
    margin: 0px 10px;
}
.postquote {
    padding: 10px;
    margin: 0;
    color: rgb(34, 34, 34);
}
.postauthor {
    padding: 10px;
    margin: 0;
    color: rgb(34, 34, 34);
    font-style: italic;
    text-align: right;
}
form.trash {
    height: inherit;
    filter: invert(100%);
}
.postdelete {
    width: 35px;
    border: none;
}
#love:hover {
    cursor: pointer;
}
#reblog:hover {
    cursor: pointer;
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(62%) sepia(12%) saturate(1528%) hue-rotate(98deg) brightness(103%) contrast(88%);
}
#edit:hover {
    cursor: pointer;
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(66%) sepia(95%) saturate(1714%) hue-rotate(341deg) brightness(104%) contrast(90%);
}
.trash:hover {
    cursor: pointer;
    filter: drop-shadow(0rem 0rem 0.5rem rgba(0, 0, 0, 0.5)) invert(53%) sepia(24%) saturate(200%) hue-rotate(163deg) brightness(88%) contrast(83%);
}
.logincontain {
    background-color: rgb(237, 237, 237);
    height: 37vh;
    padding: 2%;
    margin: 1.5% 30%;
}
.registercontain {
    background-color: rgb(237, 237, 237);
    height: 56vh;
    padding: 2%;
    margin: 1.5% 20%;
}
.registerform {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.registersection {
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.regsec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.registertitle {
    width: 100%;
    font-size: x-large;
    text-align: center;
    color: rgb(34, 34, 34);
    padding: 10px 0 20px;
}
.registertext {
    font-size: large;
    color: rgb(34, 34, 34);
    padding: 0px;
    margin: 2.5px 5px 2.5px 0px;
}
.reginput {
    height: 100%;
    border: none;
    border-radius: 3px;
    font-size: medium;
}
.registerbutton {
    margin: 0;
}
.reginput::placeholder {
    font-size: medium;
    margin: 0px 0px 0px 5px;
}
#regbutton {
    background-color: #138511;
    text-align: center;
    height: 40px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}
#loginlogo {
    margin-top: 20px;
}
#registerlogo {
    margin-top: 20px;
    height: 150px;
}
.logindivider {
    height: 25%;
    margin: 0 2%;
}
#backbutton {
    background-color: #851111;
    text-align: center;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}
#nogosignup {
    text-align: center;
    color: rgb(194, 194, 194);
    padding: 3px;
}
.waitidonthaveanaccount {
    display: flex;
    justify-content: center;
}
.originallypostedby {
    font-size: small;
}
.origin {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    background-color: rgb(214, 214, 214);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#reblogorigin {
    height: 70%;
    margin: 0px 5px;
    filter: invert(30%);
}
.donotdisplay {
    display: none;
}
.agentlenudgeupandright {
    margin: 0% 0% 0% 2%;
}
.notfoundbutton {
    border: none;
    border-radius: 3px;
    margin: 7px 5px;
    color: rgb(237, 237, 237);
    font-size: larger;
    padding: 10px 10px;
    height: 25px;
    width: 175px;
}

.suggestedblog {
    height: 100px;
    display: flex;
    justify-content: flex-start;
}
.suggestedblogcontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 0px 10px;
    color: rgb(109, 109, 109)
}
.suggestedblogname {
    margin: 0%;
    color: rgb(217, 217, 217);
}
.suggestedblogdesc {
    color: rgb(194, 194, 194);
    margin: 3px 0px 3px;
    font-size: small;
}
.editlink {
    text-decoration: underline;
    margin-top: 5%;
    padding-bottom: 5%;
}
.suggestedblogphoto {
    width: 80px;
    height: 80px;
}
.suggestedblogsdivider {
    margin: 0% 0% 5%;
}
.hidden {
    display: none;
}
.invert {
    filter: invert(100%);
}