body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    background-color: #34526F;
}
h2 {
    color: rgb(237, 237, 237);
    font-weight: 600;
    margin: 0;
}
h3 {
    color: rgb(237, 237, 237);
    font-size: large;
}
hr {
    color: rgb(237, 237, 237);
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(126, 126, 126, 0.5));
}
a {
    text-decoration: none;
}
hr.title {
    width: 55%;
    margin: 20px;
}
.nav {
    width: 100%;
    height: 8vh;
    padding: 8px 0px 8px;
    background: #34526F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
#restricted {
    box-shadow: 0px 5px 5px rgb(34, 34, 34);
}
.navlogo {
    height: 40px;
    margin: 0px 10px;
    position: relative;
    filter: invert(16%) sepia(30%) saturate(2095%) hue-rotate(178deg) brightness(96%) contrast(81%);
}
.navleft {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.button-bar {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}
.input {
    width: 250px;
    padding: 6px 10px;
    font-size: large;
    color: #414040;
    border: none;
    border-radius: 6px;
    background-color: rgb(237, 237, 237);
}
::placeholder {
    color: rgb(109, 109, 109);
    font-size: large;
    position: relative;
}
.icon {
    width: 36px;
    height: 36px;
    filter: invert(69%) sepia(37%) saturate(321%) hue-rotate(168deg) brightness(97%) contrast(89%);
}
.icon#home {
    width: 30px;
    height: 30px;
}
.icon#messages {
    width: 33px;
    height: 33px;
}
.icon:hover {
    filter: invert(90%);
}
.big-boy-logo {
    height: 80px;
    width: 325px;
    padding: 35px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(126, 126, 126, 0.5));
}
.navlogin {
    margin-right: 8px;
}
.button {
    border: none;
    border-radius: 3px;
    margin: 7px 5px;
    color: rgb(237, 237, 237);
    font-size: larger;
    padding: 10px 10px;
    height: 25px;
    width: 100px;
}
.login {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
#log_in {
    background-color: #138511;
    text-align: center;
}
#sign_up {
    background-color: #3A91E4;
    text-align: center;
}
#kitten {
    background-color: #c6519fb6;
    text-align: center;
}
.threebuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.landing {
    height: 92vh;
    width: 100%;
    background-image: url("https://picsum.photos/1600/900");
    display: flex;
    justify-content: center;
}
.splash {
    width: 100%;
    background-color: rgb(34, 34, 34);
    opacity: 85%;
}
.splashcontain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.call-to-action {
    color: rgb(237, 237, 237);
    font-size: x-large;
    text-align: center;
    overflow-wrap: break-word; 
    padding: 5px;
}
.contain {
    min-height: 500px;
    height: fit-content;
    width: 96%;
    margin: 1% 2% 2%;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #22374A;
}
.feed {
    width: 65%;
}
.sidebar {
    width: 30%;
    margin: 40px 40px 40px 20px;
    position: sticky;
}
.content-creation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5% 5% 0%;
}
.userphoto {
    width: 12%;
}
.feedphoto {
    width: 100%;
    border: none;
    border-radius: 8px;
}
.waytoomanyoptions {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(237, 237, 237);
    border: none;
    border-radius: 8px;
}
.createpost {
    padding: 5px;
    border: none;
    border-radius: 10px;
}
#newtextpost {
    width: 70px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
#newimagepost {
    width: 70px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
#newquotepost {
    width: 70px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
#newlinkpost {
    width: 70px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
#newchatpost {
    width: 70px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
#newaudiopost {
    width: 70px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
#newvideopost {
    width: 70px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
#newtextpost:hover {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)) invert(26%) sepia(0%) saturate(0%) hue-rotate(332deg) brightness(96%) contrast(92%);
}
#newimagepost:hover {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)) invert(42%) sepia(71%) saturate(914%) hue-rotate(332deg) brightness(92%) contrast(84%);
}
#newquotepost:hover {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)) invert(66%) sepia(95%) saturate(1714%) hue-rotate(341deg) brightness(104%) contrast(90%);
}
#newlinkpost:hover {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)) invert(62%) sepia(12%) saturate(1528%) hue-rotate(98deg) brightness(103%) contrast(88%);
}
#newchatpost:hover {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)) invert(61%) sepia(75%) saturate(342%) hue-rotate(164deg) brightness(81%) contrast(95%);
}
#newaudiopost:hover {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)) invert(49%) sepia(80%) saturate(241%) hue-rotate(233deg) brightness(96%) contrast(87%);
}
#newvideopost:hover {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)) invert(53%) sepia(24%) saturate(200%) hue-rotate(163deg) brightness(88%) contrast(83%);
}
.fourohfour {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#notfound {
    margin: 25px;;
}
.containcreate {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0%
}
.labels {
    width: 100%;
    height: 20px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 8px;
    position: relative;
    bottom: 45px;
    margin-top: 10px;
}
#labelspacer {
    width: 70px;
}
.blogposts {
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 0%;
}
.blogpostcontain {
    width: 85%;
    min-height: 120px;
    height: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 237, 237);
    border: none;
    border-radius: 8px;
}
.textpostitem {
    margin: 10px;
    color: rgb(34, 34, 34);
}
#newpostpage {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: left;
    margin: 10% 25%;
}
.posttypetitle {
    text-align: center;
}
.postform {
    margin-left: 20px;
    padding: 0px;
}
.posttext {
    color:rgb(34, 34, 34)
}
#submit {
    height: 40px;
    width: 80px;
    background-color: #138511;
}
#cancel {
    height: 40px;
    width: 80px;
    background-color: #851111;
}